body {
  width: 1024px;
  margin: 16px auto 0px 16px;
  font-family: "M PLUS 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #454545
}

p.date {
  color: #ABABAB
}

body > h1 {
  color: #142C4D
}
